body {
	margin: 0;
	padding: 0;
	font-family: Open Sans, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
}

.index-page {
	/*background: url(../img/device-index.jpg) no-repeat;*/
	/*background: url(../img/device-index-modals.jpg) no-repeat;*/
	/*background: url(../img/device-index-modals-slide2.jpg) no-repeat;*/
	/*background: url(../img/device-index-modals-slide3.jpg) no-repeat;*/
	background-position: center 0;
}

.inner-page {
	/*background: url(../img/device-catalog.jpg) no-repeat;*/
	/*background: url(../img/device-catalog-modals.jpg) no-repeat;*/
	background-position: center 0;
}

@font-face {
    font-family: "Gilroy-Light";
    src: url(../font/gilroylight.woff2) format("woff2"),
    url(../font/gilroylight.woff) format("woff");
}

@font-face {
    font-family: "Gilroy";
    src: url(../font/gilroyextrabold.woff2) format("woff2"),
    url(../font/gilroyextrabold.woff) format("woff");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a {
	text-decoration: none;
}

.container {
	width: 1160px;
	margin: 0 auto;
  	padding: 0 20px;
}

.header-logo {
	position: relative;
	top: -17px;
}

.inner-header-logo:hover,
.inner-footer-logo:hover {
	opacity: 0.6;
}

.inner-header-logo:focus,
.inner-footer-logo:focus {
	opacity: 0.3;
}

.main-navigation {
	position: relative;
	color: #ffffff;
	background-color: rgba(240, 197, 46, 0.5);
	width: 1040px;
	min-height: 299px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding-left: 60px;
	padding-right: 60px;
}

.inner-navigation {
	position: relative;
	color: #ffffff;
	background-color: rgba(240, 197, 46, 0.5);
	width: 1040px;
	min-height: 186px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding-left: 60px;
	padding-right: 60px;
}

.catalog-navigation {
	position: absolute;
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 1040px;
    height: 138px;
    top: 25px;
    left: -60px;
    padding-top: 27px;
    padding-left: 60px;
	padding-right: 60px;
    background-color: #f7e296;
    z-index: 3;
}

.catalog-navigation li {
	margin-right: 63px;
	margin-bottom: 5px;
}

.catalog-navigation li:last-child {
	margin-bottom: 40px;
	margin-left: 14px;
}

.big-nav-link {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

ul[class*="navigation"] li {
	list-style: none;
}

.header-user-navigation {
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: -1px;
}

.header-site-navigation {
	position: relative;
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 36px;
}

.header-catalog:hover .catalog-navigation {
	display: flex;
}

.header-delivery {
	margin-left: 321px;
}

.header-site-navigation > li:last-child {
	margin-left: auto;
	position: relative;
	left: 3px;
}

.header-site-navigation > li:nth-child(3) {
	margin-left: 34px;
}

.header-login-link {
	margin-left: 180px;
}

.header-user-navigation li:nth-child(3) {
	margin-right: 41px;
}

.compare {
	margin-left: auto;
}

.catalog-link::after {
	content: "";
	position: absolute;
	top: 3px;
	right: -27px;
	opacity: 0.3;
	width: 27px;
	height: 16px;
	background: url(../img/plus.svg) no-repeat;
	background-position: right center;
}

.header-user-navigation a,
.header-site-navigation a,
.catalog-navigation a {
	color: #000000;
	position: relative;
}

.header-site-navigation .big-nav-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.header-site-navigation .big-nav-link:focus {
	color: rgba(0, 0, 0, 0.3);
}

.header-login-link:hover,
.header-compare-link:hover,
.header-cart-link:hover,
.catalog-navigation a:hover {
	opacity: 0.6;
}

.header-login-link:focus,
.header-compare-link:focus,
.header-cart-link:focus,
.catalog-navigation a:focus {
	opacity: 0.3;
}

.search-form {
	position: relative;
}

.search-label {
	display: block;
	position: absolute;
	top: 7px;
	left: 3px;
	width: 16px;
	height: 16px;
	background: url(../img/search.svg) no-repeat;
	background-position: left center;
}

.search input {
	position: relative;
	width: 321px;
	height: 20px;
	margin-left: 35px;
	background-color: transparent;
	border: solid transparent;
	color: rgba(0, 0, 0, 0.3);
	outline: 0;
}

.search-btn::after {
	content: "";
	position: absolute;
	width: 447px;
	height: 2px;
	background-color: black;
	bottom: -2px;
	right: -1px;
}

.search-input::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-input:hover {
	color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
	color: rgba(0, 0, 0, 1);
}

.search-input:focus ~ .search-btn {
	display: block;
}

.search-btn {
	position: absolute;
	display: none;
	background-color: transparent;
	border: 2px solid black;
	box-sizing: border-box;
	width: 85px;
	height: 49px;
	bottom: -10px;
	right: -87px;
}

.search-btn:hover,
.search-btn:focus {
	background-color: black;
	color: white;
}

.search-btn:active {
	background-color: black;
	color: rgba(255, 255, 255, 0.3);
	display: block;
}

.header-login-link {
	padding-left: 26px;
	background: url(../img/user.svg) no-repeat;
	background-position: left center;
}

.header-compare-link {
	padding-left: 20px;
	background: url(../img/compare.svg) no-repeat;
	background-position: left center;
}

.header-cart-link {
	padding-left: 24px;
	background: url(../img/cart.svg) no-repeat;
	background-position: left center;
}

.header-user-navigation .leave-btn {
	color: rgba(0, 0, 0, 0.3);
}

.header-user-navigation .leave-btn:hover {
	color: rgba(0, 0, 0, 1);
}

.header-user-navigation .leave-btn:active {
	color: rgba(0, 0, 0, 0.6);
}

.footer-user-navigation .leave-btn {
	color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation .leave-btn:hover {
	color: rgba(255, 255, 255, 1);
}

.footer-user-navigation .leave-btn:active {
	color: rgba(255, 255, 255, 0.6);
}

.leave-btn {
	position: relative;
	left: 12px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.footer-user-navigation .leave-btn {
	margin-left: 3px;
}

.slider-inner {
	display:flex;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	margin-bottom: 50px;
}

.slider {
	height: 500px;
	overflow: hidden;
	position: relative;
	top: -111px;
}

.slider input[type="radio"] {
	display: none;
}

.slider-controls {
	position: absolute;
	top: 318px;
	right: 94px;
	z-index: 3;
}

.slider-controls label {
	display: inline-block;
	margin: 0 8px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: url(../img/slider-button-empty.svg) no-repeat;
	background-size: 13px 13px;
	cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  	background: url(../img/slider-button.svg) no-repeat;
  	background-size: 13px 13px;
}

#btn-1:checked ~ .slider-slides {
  transform: translateY(0);
}

#btn-2:checked ~ .slider-slides {
  transform: translateY(-536px);
}

#btn-3:checked ~ .slider-slides {
  transform: translateY(-1083px);
}

.slider-1 {
	padding-left: 91px;
	padding-right: 86px;
}

.slider-2 {
	padding-left: 116px;
	padding-right: 110px;
}

.slider-3 {
	padding-left: 31px;
	padding-right: 36px;
}

.slider-2 img {
	margin-top: 12px;
}

.slider-3 img {
	margin-top: 65px;
}

.slider-inner:before {
	display: block;
	position: absolute;
	right: 460px;
	top: 37px;
	content: "";
	width: 100px;
	height: 7px;
	background-color: #ffffff;
}

.slider-1 .slider-description {
	width: 475px;
}

.slider-2 .slider-description {
	width: 451px;
}

.slider-3 .slider-description {
	width: 525px;
}

.slider-1 .slider-description:before {
	display: block;
	position: absolute;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 179px;
	right: 65px;
	top: 61px;
	content: "01";
	width: 166px;
	height: 131px;
	color: #ffffff;
	z-index: -1;
}

.slider-2 .slider-description:before {
	display: block;
	position: absolute;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 179px;
	right: 90px;
	top: 61px;
	content: "02";
	width: 166px;
	height: 131px;
	color: #ffffff;
	z-index: -1;
}

.slider-3 .slider-description:before {
	display: block;
	position: absolute;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 179px;
	right: 92px;
	top: 61px;
	content: "03";
	width: 166px;
	height: 131px;
	color: #ffffff;
	z-index: -1;
}

.slider-inner h2 {
	margin-bottom: 19px;
	margin-top: 79px;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	color: #000000;
	line-height: 1.19;
	z-index: 3;
}

.slider-inner p {
	margin: 0;
	margin-bottom: 43px;
}

.slider-inner .button {
	width: 220px;
}

.slider-inner table {
	text-align: left;
	width: 450px;
	margin-top: 57px;
}

.slider-inner th {
	padding: 0;
	font-family: Gilroy-Light, Arial, sans-serif;
  	font-size: 36px;
  	font-weight: 300;
  	color: #000000;
  	font-style: normal;
  	font-stretch: normal;
}

.slider-inner td {
	padding: 0;
	padding-top: 9px;
	font-size: 13px;
}

.popular-items {
	display: flex;
	justify-content: space-between;
}

.popular-item {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	width: 163px;
}

.popular-item:hover .popular-item-backgrnd,
.popular-item:focus .popular-item-backgrnd {
	opacity: 1;
}

.popular-item:focus .popular-item-image {
	opacity: 0.3;
}

.popular-item:focus h3 {
	color: rgba(0, 0, 0, 0.3);
}

.popular-item-backgrnd {
	width: 160px;
	height: 160px;
	background-color: #f0c52e;
	opacity: 0.5;
	margin-bottom: 20px;
}

.popular-1 {
	position: absolute;
	width: 160px;
	height: 160px;
	background-image: url(../img/popular-1.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.popular-2 {
	position: absolute;
	top: 22px;
	width: 160px;
	height: 160px;
	background-image: url(../img/popular-2.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.popular-3 {
	position: absolute;
	width: 160px;
	height: 160px;
	background-image: url(../img/popular-3.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.popular-4 {
	position: absolute;
	width: 160px;
	height: 160px;
	background-image: url(../img/popular-4.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.popular-5 {
	position: absolute;
	width: 160px;
	height: 160px;
	background-image: url(../img/popular-5.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.popular-6 {
	position: absolute;
	width: 160px;
	height: 160px;
	background-image: url(../img/popular-6.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.popular-item h3 {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	color: #000000;
	line-height: 1.33;
}

.delivery-companies {
	list-style: none;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 16px;
	color: #000000;
	margin-top: 73px;
	margin-bottom: 60px;
	padding-left: 35px;
}

.delivery-companies li {
	margin-bottom: 10px;
	position: relative;
}

.delivery-companies li::before {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.1);
	top: 13px;
	left: -34px;
}

.description {
  	display: flex;
  	justify-content: space-between;
  	min-height: 655px;
}

.about {
	width: 475px;
}

.about p {
	margin-bottom: 30px;
}

.contacts {
	width: 560px;
}

.about h2,
.contacts h2 {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	color: #000000;
	margin-bottom: 51px;
	margin-top: 55px;
}

.about h2::before,
.contacts h2::before {
	display: block;
	content: "";
	position: relative;
	width: 80px;
	height: 7px;
	bottom: 55px;
	background-color: black;
}

.map {
	margin-top: 40px;
	margin-bottom: 61px;
}

.sale {
	display: flex;
}

.button {
	display: block;
	position: relative;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 3.6px;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	line-height: 40px;
	text-transform: uppercase;
	border: none;
	background-color: transparent;
	outline: 0;
	width: 200px;
	height: 40px;
	z-index: 2;
}

.description .button {
	width: 260px;
}

.modal-write-us {
	display: none;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 91px;
	margin-top: -277px;
	margin-left: -480px;
	width: 760px;
	height: 462px;
}

.modal-write-us form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.modal-write-us input {
	padding: 0;
	width: 360px;
	height: 50px;
}

.modal-write-us textarea {
	width: 760px;
	height: 156px;
}

.modal-close {
	position: absolute;
	width: 55px;
	height: 55px;
	background: url(../img/modal-close.svg) no-repeat;
	font-size: 0;
	border: none;
	cursor: pointer;
	opacity: 0.5;
	top: 23px;
	right: 22px;
}

.modal-map {
	display: none;
	width: 960px;
	height: 559px;
	margin-left: -480px;
	margin-top: -280px;
}

.modal-map iframe {
	border: none;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:focus {
	opacity: 0.3;
}

.modal p {
	margin: 0;
	padding: 0;
}

.modal-write-us p {
	margin-bottom: 31px;
}

.button::before {
	content: "";
	position: absolute;
	width: inherit;
	height: 8px;
	background-color: #f0c52e;
	top: 16px;
	left: 0px;
	transition: transform 0.15s ease-in-out;
	z-index: -1;
}

.button:hover {
	cursor: pointer;
}

.button:hover::before {
	transform: scaleY(5);
}

.button:focus {
	background-color: #f0c52e;
	color: rgba(0, 0, 0, 0.3);
}

.button:focus::before {
	background-color: transparent;
}

.writeus-item input,
.writeus-item textarea {
	font: inherit;
	font-weight: 400;
	background-color: #F2F2F2;
	border: 3px solid transparent;
	color: #707070;
	outline: 0;
	box-sizing: border-box;
	margin-top: 3px;
	padding-left: 18px;
}

.writeus-item textarea {
	padding-top: 7px;
}

.writeus-item input:hover,
.writeus-item textarea:hover {
	background-color: #eaeaea;
}

.writeus-item input:focus,
.writeus-item textarea:focus {
	background-color: transparent;
	border: 3px solid #f7e296;
	color: #464646;
}

.writeus-item input:invalid,
.writeus-item textarea:invalid {
	background-color: #f6dada;
	box-shadow: none;
}

.wrireus-item input:valid {
	background-color: black;
}

.writeus-item label {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: #000000;
}

.writeus-form button {
	margin-top: 6px;
}

.main-footer {
	background-color: #464646;
	color: white;
	min-height: 323px;
	margin-right: auto;
	margin-left: auto;
}

.main-footer .container {
	padding-top: 66px;
	padding-bottom: 56px;
}

.footer-user-navigation,
.footer-site-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	position: relative;
}

.nav-1row, .nav-2row {
	display: flex;
	justify-content: space-between;
}

.nav-2row {
	margin-top: 6px;
}

.footer-site-navigation a {
	color: #ffffff;
}

.footer-site-navigation {
	padding: 0;
	width: 427px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -42px;
}

.footer-site-navigation .big-nav-link:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation .big-nav-link:focus {
	color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation li {
	margin-left: 53px;
	margin-top: -2px;
}

.footer-user-navigation a {
	color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
	color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:focus {
	color: rgba(255, 255, 255, 0.3);
}

.footer-login-link:hover svg,
.footer-compare-link:hover svg,
.footer-cart-link:hover svg {
	opacity: 0.6;
}

.footer-login-link:focus svg,
.footer-compare-link:focus svg,
.footer-cart-link:focus svg {
	opacity: 0.3;
}

.compare-icon,
.login-icon,
.cart-icon {
	position: relative;
}

.login-icon {
	left: -14px;
}

.compare-icon,
.cart-icon {
	left: -10px;
}

.minus {
	width: 27px;
}

.minus::after {
	position: relative;
	display: block;
	content: "";
	top: 13px;
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	padding-top: 19px;
}

.footer-social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-buttons {
	display: flex;
	justify-content: space-between;
	width: 142px;
}

.social-button {
	opacity: 0.3;
}

.social-button:hover {
	opacity: 1;
}

.social-button:focus {
	opacity: 0.1;
}

.footer-copyright {
	margin: 0;
}

.academy-button {
	position: relative;
	top: -2px;
}

.academy-button:hover {
	opacity: 0.6;
}

.academy-button:focus {
	opacity: 0.3;
}

.bigmap {
	box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal {
	z-index: 3;
	position: fixed;
	left: 50%;
	top: 50%;
	background-color: #ffffff;
	box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal h2 {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	font-weight: 800;
	color: #000000;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  	font: inherit;
  	font-weight: 400;
  	background-color: #F2F2F2;
	border: 3px solid transparent;
	color: #707070;
	outline: 0;
}

.login-form input:hover {
	background-color: #eaeaea;
}

.login-form input:focus {
	background-color: transparent;
	border: 3px solid #f7e296;
	color: #464646;
}

.login-checkbox:hover,
.login-checkbox:focus {
	opacity: 0.6;
}

.restore {
	color: #000000;
	opacity: 0.6;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	opacity: 1;
	text-decoration: none;
}

.page-title {
	margin: 0;
	margin-top: 46px;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	color: #000000;
}

.breadcrumbs {
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 29px;
	margin-bottom: 44px;
	list-style: none;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.1px;
}

.page-title,
.breadcrumbs {
	margin-left: 59px;
}

.breadcrumbs li {
	margin-right: 38px;
	position: relative;
}

.breadcrumbs li::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 7px;
	top: 13px;
	right: -20px;
	background: url(../img/nav-arrow.svg) no-repeat;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a,
.breadcrumbs-current {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6)
}

.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.1)
}

.catalog-container {
	width: 1160px;
	margin: 0 auto;
  	padding: 0 20px;
}

.filters {
	color: #000000;
	background-color: #ebebeb;
	flex-grow: 1;
}

.filter {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-left: 59px;
}

.filter legend {
	position: relative;
}

.filter legend::before {
	content: "";
	display: block;
	width: 201px;
	height: 2px;
	background-color: black;
	position: absolute;
	bottom: 37px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	top: 7px;
	left: -39px;
	background: url(../img/checkbox-off.svg) no-repeat;
}

.filter-input-checkbox:checked + label::before {
	background: url(../img/checkbox-on.svg);
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	top: 7px;
	left: -40px;
	background: url(../img/radio-off.svg);
}

.filter-input-radio:checked + label::before {
	background: url(../img/radio-on.svg);
}

.filter-input:hover + label::before {
	opacity: 0.6;
}

.filter-input:active + label::before {
	opacity: 1;
}

.filter-input:disabled + label::before {
	opacity: 0.25;
}

.sort {
	height: 71px;
	background-color: #F2A4A4;
}

.filter-header {
	height: 71px;
	background-color: #F2A4A4;
	margin-bottom: 67px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	border: none;
	width: 270px;
	margin-bottom: 41px;
}

.filter legend {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
}

.filter ul {
	margin-left: 199px;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 40px;
	color: #000000;
	letter-spacing: 0.1px;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: #a6a6a6;
}

fieldset .filter-options {
	margin-top: 15px;
	padding-left: 39px;
	width: 75px;
}

.filter-button {
	margin-right: 71px;
	margin-top: -10px;
}

.catalog {
	flex-grow: 1;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	width: 760px;
	margin: 0;
	margin-left: 71px;
	margin-top: 30px;
	padding: 0;
	justify-content: space-between;
}

.catalog-item {
	display: flex;
	flex-wrap: wrap;
	width: 360px;
	margin-top: 38px;
	justify-content: space-between;
	align-content: flex-start;
	position: relative;
}

.catalog-item h3 {
	margin: 0;
	width: 260px;
	overflow: hidden;
}

.catalog-item-image {
	padding-bottom: 28px;
	order: -1;
	width: 360px;
	height: 380px;
}

.add-to-cart:hover {
	opacity: 1;
	background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-new {
	display: none;
	justify-content: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.2);
	font-family: Gilroy, Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 0.7px;
	width: 58px;
	height: 58px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	position: absolute;
	left: 273px;
	top: 28px;
}

.add-to-cart {
	position: absolute;
	top: 0;
	width: 360px;
	height: 380px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.add-to-cart button {
	position: relative;
	top: 17px;
	z-index: 2;
}

.add-to-cart a {
	position: relative;
	top: 17px;
	white-space: nowrap;
	bottom: 127px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	letter-spacing: 0.1px;
	line-height: 2.77;
	z-index: 2;
}

.add-to-cart a:hover {
	color: #000000;
}

.add-to-cart a:active {
	color: rgba(0, 0, 0, 0.2);
}

.visible {
	display: flex;
}

.catalog-item-title a {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.33;
	color: #000000;
}

.catalog-item-price {
	font-family: Gilroy-Light, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	padding-top: 1px;
	overflow: hidden;
}

.page-navigation {
	background-color: #F2A4A4;
	width: 832px;
	height: 151px;
	margin-top: 25px;
}

.price-value {
	margin-bottom: 0;
	background-color: #F2A4A4;
	height: 110px;
}

.red {
	height: 1591px;
	background-color: #F2A4A4;
}