

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	/*background: url(../img/device-index.jpg) no-repeat;*/
	background-position: center 0; 
	background-color: #ffffff;
}

@font-face {
    font-family: "Gilroy";
    src: url(../font/gilroylight.woff2) format("woff2"),
    url(../font/gilroylight.woff) format("woff");
}

@font-face {
    font-family: "Gilroy";
    src: url(../font/gilroyextrabold.woff2) format("woff2"),
    url(../font/gilroyextrabold.woff) format("woff");
}

a {
	text-decoration: none;
}

.container {
	width: 1160px;
	margin: 0 auto;
  	padding: 0 20px;
}

.main-header-logo {
	position: relative;
	top: -17px;
}

.main-header-logo:hover,
.main-footer-logo:hover {
	opacity: 0.6;
}

.main-header-logo:focus,
.main-footer-logo:focus {
	opacity: 0.3;
}

.main-navigation {
	color: #ffffff;
	background-color: rgba(240, 197, 46, 0.5);
	width: 1040px;
	min-height: 186px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding-left: 60px;
	padding-right: 60px;
}

.big-nav-link {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

ul[class*="navigation"] li {
	list-style: none;
}

.header-user-navigation {
	display: flex;
	padding: 0;
	margin: 0;
}

.header-site-navigation {
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 35px;
}

.header-site-navigation li:nth-child(2) {
	margin-left: 315px;
}

.header-site-navigation > li:last-child {
	margin-left: auto;
	position: relative;
	left: 3px;
}

.header-site-navigation > li:nth-child(3) {
	margin-left: 31px;
}

.login-link {
	margin-left: 268px;
}

.header-user-navigation li:nth-child(3) {
	margin-right: 65px;
}

.compare-link {
	margin-left: auto;
}

.catalog-menu {
	display: none;
}

.header-user-navigation a,
.header-site-navigation a {
	color: #000000;
}

.header-user-navigation a:hover,
.header-site-navigation a:hover {
	opacity: 0.6;
}

.header-user-navigation a:focus,
.header-site-navigation a:focus {
	opacity: 0.3;
}

.search {
	margin-left: 37px;
}

.search input {
	background-color: transparent;
	border: 2px transparent;
	color: rgba(0, 0, 0, 0.3);
	outline: 0;
}

.search input::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search input:hover {
	color: rgba(0, 0, 0, 0.6);
}

.search input:focus {
	color: rgba(0, 0, 0, 1);
	border-bottom: 2px solid black;
}

.search-btn {
	background-color: transparent;
	border: 2px solid black;
}

.search-btn:hover,
.search-btn:focus {
	background-color: black;
	color: white;
}

.search-btn:active {
	background-color: black;
	color: rgba(255, 255, 255, 0.3);
}

.header .leave-btn {
	color: rgba(0, 0, 0, 0.3);
}

.footer .leave-btn {
	color: rgba(255, 255, 255, 0.3);
}

.leave-btn {
	position: relative;
	left: 12px;
	background-color: transparent;
	border: none;
}

.delivery-companies {
	list-style: none;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: #000000;
	margin-top: 70px;
	margin-bottom: 60px;
	padding-left: 35px;
}

.delivery-companies li {
	margin-bottom: 10px;
}

.description {
  	display: flex;
  	justify-content: space-between;
  	min-height: 655px;
}

.about {
	width: 475px;
}

.about p {
	margin-bottom: 30px;
}

.contacts {
	width: 560px;
}

.about h2,
.contacts h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	font-weight: 800;
	color: #000000;
	margin-bottom: 51px;
	margin-top: 62px;
}

.map {
	margin-top: 40px;
	margin-bottom: 59px;
}

.sale {
	display: flex;
}

.button {
	display: inline-block;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 3.6px;
	text-align: center;
	color: #000000;
	line-height: inherit;
	text-transform: uppercase;
	border: none;
	background-color: #f0c52e;
	outline: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	transform: scaleY(0.2);
}

.button span {
	display: inline-block;
	transform: scaleY(5);
}

.button:hover {
	cursor: pointer;
}

.button:focus,
.button:active {
	background-color: #000000;
	color: #f7e184;
}

.writeus-item input,
.writeus-item textarea {
	font: inherit;
	font-weight: 400;
	background-color: #F2F2F2;
	border: 3px solid transparent;
	color: #707070;
	outline: 0;
}

.writeus-item input:hover,
.writeus-item textarea:hover {
	background-color: #eaeaea;
}

.writeus-item input:focus,
.writeus-item textarea:focus {
	background-color: transparent;
	border: 3px solid #f7e296;
	color: #464646;
}

.writeus-item input:invalid,
.writeus-item textarea:invalid {
	background-color: #f6dada;
	box-shadow: none;
}

.writeus-item label {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: #000000;
}

.main-footer {
	background-color: #464646;
	color: white;
	min-height: 323px;
	margin-right: auto;
	margin-left: auto;
}

.main-footer .container {
	padding-top: 65px;
	padding-bottom: 56px;
}

.footer-user-navigation,
.footer-site-navigation {
	display: flex;
	margin: 0;
}

.nav-1row, .nav-2row {
	display: flex;
	justify-content: space-between;
}

.nav-2row {
	margin-top: 6px;
}

.footer-site-navigation a {
	color: #ffffff;
}

.footer-site-navigation {
	padding: 0;
	width: 425px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -42px;
}

.footer-site-navigation a:hover {
	opacity: 0.6;
}

.footer-site-navigation a:focus {
	opacity: 0.3;
}

.footer-user-navigation li {
	margin-left: 65px;
	margin-top: -2px;
}

.footer-user-navigation a {
	color: #ffffff;
	opacity: 0.7;
}

.footer-user-navigation a:hover {
	opacity: 1;
}

.footer-user-navigation a:focus {
	opacity: 0.3;
}

.minus {
	width: 27px;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	padding-top: 19px;
}

.footer-social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-buttons {
	display: flex;
	justify-content: space-between;
	width: 142px;
}

.social-button {
	opacity: 0.3;
}

.social-button:hover {
	opacity: 1;
}

.social-button:focus {
	opacity: 0.1;
}

.footer-copyright {
	margin: 0;
}

.academy-button {
	position: relative;
	top: -2px;
}

.academy-button:hover {
	opacity: 0.6;
}

.academy-button:focus {
	opacity: 0.3;
}

.bigmap {
	box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal {
	background-color: #ffffff;
}

.modal h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	font-weight: 800;
	color: #000000;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  	font: inherit;
  	font-weight: 400;
  	background-color: #F2F2F2;
	border: 3px solid transparent;
	color: #707070;
	outline: 0;
}

.login-form input:hover {
	background-color: #eaeaea;
}

.login-form input:focus {
	background-color: transparent;
	border: 3px solid #f7e296;
	color: #464646;
}

.login-checkbox:hover,
.login-checkbox:focus {
	opacity: 0.6;
}

.restore {
	color: #000000;
	opacity: 0.6;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	opacity: 1;
	text-decoration: none;
}

.page-title {
	margin: 0;
	margin-top: 46px;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	font-weight: 800;
	color: #000000;
}

.breadcrumbs {
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 29px;
	margin-bottom: 44px;
	list-style: none;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.1px;
}

.page-title,
.breadcrumbs {
	margin-left: 59px;
}

.breadcrumbs li {
	margin-right: 38px;
}

.breadcrumbs a,
.breadcrumbs-current {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6)
}

.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.1)
}

.catalog-container {
	width: 1160px;
	margin: 0 auto;
  	padding: 0 20px;
}

.filters {
	color: #000000;
	background-color: #ebebeb;
	flex-grow: 1;
}

.filter {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-left: 59px;
}

.sort {
	height: 71px;
	background-color: #F2A4A4;
}

.filter-header {
	height: 71px;
	background-color: #F2A4A4;
	margin-bottom: 67px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	border: none;
	width: 268px;
	margin-bottom: 40px;
}

.filter legend {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
}

.filter ul {
	margin-left: 199px;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 40px;
	color: #000000;
	letter-spacing: 0.1px;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: #a6a6a6;
}

fieldset .filter-options {
	margin-top: 15px;
	padding-left: 20px;
}

.filter-button {
	margin-right: 100px;
}

.catalog {
	flex-grow: 1;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	width: 760px;
	margin: 0;
	margin-left: 70px;
	margin-top: 34px;
	padding: 0;
	justify-content: space-between;
}

.catalog-item {
	display: flex;
	flex-wrap: wrap;
	width: 360px;
	margin-top: 35px;
	justify-content: space-between;
	align-content: flex-start;
	position: relative;
}

.catalog-item h3 {
	margin: 0;
	width: 275px;
}

.catalog-item p {
	margin: 0;
}

.catalog-item-image {
	padding-bottom: 20px;
	order: -1;
}

.catalog-item-new {
	display: none;
	justify-content: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.2);
	font-family: Gilroy;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 0.7px;
	width: 50px;
	height: 50px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	position: absolute;
	left: 273px;
	top: 28px;
}

.visible {
	display: flex;
}

.catalog-item a {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
	letter-spacing: 0.2px;
	color: #000000;
}

.catalog-item-price {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.page-navigation {
	background-color: #F2A4A4;
	width: 832px;
	height: 147px;
	margin-top: 26px;
}

.price-value {
	margin-bottom: 0;
	background-color: #F2A4A4;
	height: 110px;
}

.red {
	height: 1591px;
	background-color: #F2A4A4;
}